# Python 101

## Introduction

Comments in Java

// Single Line Comment

/* Multi
        Line
            Comment */

1. Comments in Python

In [1]:
# Single Line comment

'''
    Multi 
        Line
            Comment
'''

'\n    Multi \n        Line\n            Comment\n'

2. Displaying Output

// Java

System.out.println("Apple");
System.out.println("Orange");

OUTPUT: -

Apple
Orange

System.out.print("Apple");
System.out.print("Orange");

OUTPUT: -

AppleOrange

In [2]:
# Python

# This is equivalent to Java's println()
print("Apple") 
print("Orange")

Apple
Orange

In [3]:
# Equivalent statement for Java's print() 

print("Apple", end="")
print("Orange", end="")

AppleOrange

In [4]:
# Returns the help documentation of a function
# General Syntax:-
# help(function)

help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [5]:
print(1)
print(2)

1
2

Displaying the content of a variable

Java

int num1 = 1;
int num2 = 4;

// OUTPUT

// 1 + 4 = 5

System.out.println(num1 + " + " + num2 + " = " + (num1 + num2));

In [7]:
# Displaying the content of a variable

num1 = 1
num2 = 4

print(num1, "+", num2, "=", num1 + num2)

# By default, the values are seperated by a single space

1 + 4 = 5

In [10]:
# We may change the seperator string by specifying the
# value of sep

print(num1, "+", num2, "=", num1 + num2, sep="**")

1**+**4**=**5

3. Datatypes

// 8 Java Primitives 

byte
short
char
int
long

float
double

boolean - true, false

String

// Python

int (Integer) Ex. 1, 2, 3, 4, -1, -2, etc.

float (Floating) Ex. 0.1, 0.2, 3.14, -3.14, ...

bool - True, False

str (String) Ex. 'hello', "hello", 'S'

In [11]:
# boolean

True
False

False

In [12]:
True + True

2

In [13]:
False + False

0

In [14]:
# When boolean values are evaluated in the context of an arihtmetic operator
# True represents the value 1 and False represents the value 0

In [ ]:
# Complex Type

In [74]:
num = 3+4j

In [75]:
type(num)

complex

In [76]:
dir(num)

['__abs__',
 '__add__',
 '__bool__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__le__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 'conjugate',
 'imag',
 'real']

In [77]:
num.imag

4.0

In [78]:
num.real

3.0

In [80]:
num.conjugate()

(3-4j)

3.1 Additional Data Types

// Java

// Array

int arr[] = {1,2,3,4,5};

// List (Mutable Data Structure)

arr = [1, 2, 3, 4, 5]

In [15]:
arr = [1, 2, 3, 4, 5]

In [16]:
arr[0]

1

In [17]:
arr[3]

4

In [18]:
arr.append(6)

In [19]:
arr

[1, 2, 3, 4, 5, 6]

In [20]:
del(arr[3])

In [25]:
print(arr)

[1, 2, 3, 5, 6]

In [32]:
# Sets (Mutable Data Structure)

# They are like lists but they do not contain duplicate elements

set1 = set([1, 1, 2, 2, 5])

In [24]:
print(set1)

{1, 2, 5}

In [26]:
set1.add(5)

In [27]:
print(set1)

{1, 2, 5}

In [33]:
# Tuples (Immutable Data Structure)

# They are like lists but once created they cannot be changed

tuple1 = (1, 2, 3, 4, 5)

In [31]:
print(tuple1)

(1, 2, 3, 4, 5)

In [34]:
tuple1.add(6)

AttributeError: 'tuple' object has no attribute 'add'

In [35]:
tuple1.append(7)

AttributeError: 'tuple' object has no attribute 'append'

In [36]:
# Dictionaries (Mutable Data Structure)

# Convention
# index 0 - name
# index 1 - age
# index 2 - birthdate

bio_swayam = ["Swayam", 15, "05/08/2004"]

In [37]:
bio_ranajoy = ["Ranajoy", 22, "22/06/1998"]

In [38]:
bio_third = [28, "Tom", "22/05/1992"]

In [40]:
# Name: Swayam
# Age: 15
# Birthdate: 5/08/2004
bio_swayam[0]

'Swayam'

In [41]:
bio_swayam[1]

15

In [42]:
bio_swayam[2]

'05/08/2004'

In [ ]:
# Name: 28
# Age: Tom
# Birthdate: 5/08/2004

In [43]:
# key:value
bio_data = {"name":"Swayam", "age":15, "birthdate":"05/08/2004"}

In [50]:
# Accessing name
print(bio_swayam[0])

Swayam

In [49]:
# Accessing name
print(bio_data["name"])

Swayam

In [48]:
# Accessing age
print(bio_data["age"])

15

4. Variables

// Java (Statically Type Language)

int num = 5;
.
.
.
num = "Swayam"; X DOES NOT COMPILE

In [55]:
num = 5

In [56]:
print(num)

5

In [57]:
num = "Swayam"

In [58]:
print(num)

Swayam

In [59]:
# Python is dynamically typed language
# A variable in python can store any kind of value

In [60]:
x = 9

In [61]:
type(x)

int

In [62]:
x = "Tom"

In [63]:
type(x)

str

In [64]:
# The type of a variable is determined by the value that is assigned to it

5. Arithmetic Operators

In [65]:
num1 = 4
num2 = 5

In [66]:
num1 + num2

9

In [67]:
num1 - num2

-1

In [68]:
num1 * num2

20

In [69]:
# Complete Division
num1 / num2

0.8

In [70]:
# Remainder
num1 % num2

4

In [71]:
# Quotient (Floor Division)
num1 // num2

0

In [72]:
# Exponent Operator
# 2 ^ 3
num1 ** num2

1024

In [73]:
2 ** 3

8

6. Assignment and Compound Assignment Operator

In [81]:
# = is also known as the assignment operator
num = 4

In [82]:
# Compound Assignment
# +=, -=, ...
# General Syntax:- 
# op=, where op is an arithmetic operator

In [83]:
num = num + 1

In [84]:
print(num)

5

In [85]:
num += 1

In [86]:
print(num)

6

In [87]:
# ++, and -- are not available in Python
# += 1, -= 1
num -= 1

In [88]:
print(num)

5

7. Inputs in Python

// Java

Scanner sc = new Scanner(System.in);

int num = sc.nextInt();

In [89]:
# Python

# General Syntax: -
# <variable> = input(<prompt>)

name = input("Enter a name: ")

Enter a name: Ranajoy

In [90]:
print(name)

Ranajoy

In [91]:
num = input("Enter a number: ")

Enter a number: 5

In [92]:
type(num)

str

In [93]:
# input() always returns a string

In [94]:
# 7.1 Cast operator

In [95]:
# General Syntax:- 
# dest_type(<value>)

str_num = "123"

In [96]:
type(str_num)

str

In [97]:
int_num = int(str_num)

In [98]:
type(int_num)

int

In [99]:
# Taking integers as inputs

num1 = int(input("Enter the first number"))
num2 = int(input("Enter the second number"))

Enter the first number5
Enter the second number6

In [100]:
print(num1 + num2)

11

In [101]:
# If the input is not casted to int, 
# they will be concatenated / joined instead

num1 = input("Enter the first number")
num2 = input("Enter the second number")

Enter the first number5
Enter the second number6

In [102]:
# String concatenation
print(num1 + num2)

56

In [104]:
# We can concatenate str and str, but
# we cannot concatenate str and any other type

num1 = 5
num2 = 6
print("The sum is " + (num1 + num2))

TypeError: can only concatenate str (not "int") to str

In [105]:
# The problem is solved if int is casted to str

print("The sum is " + str(num1 + num2))

The sum is 11